<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales</title>
</head>

<body>
    <h1>Animales: ¿Qué son?, Tipos y Caracterísiticas. </h1>
    <p>¿Qué son?</p>
    <p>Los animales son aquellos seres vivos capaces de moverse, y que carecen de clorofila y de paredes celulares, es
        decir que son muy distinto de las plantas como podemos ver.</p>
    <a href="https://www.google.com/?hl=es">Página relacionada al contenido</a>
</body>

</html>