<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales</title>
</head>

<body>
    <h1>Animales: ¿Qué son?, Tipos y Caracterísiticas. </h1>

    <h1>¿Qué son?</h1>
    <p>Cuando clasificamos a los seres vivos, lo hacemos principalmente en dos tipos: plantas y animales.Los animales
        son aquellos seres vivos capaces de moverse, y que carecen de clorofila y de paredes celulares,
        es decir que son muy distinto de las plantas como podemos ver. Los hombres son incluidos dentro del grupo
        de los animales, aunque a diferencia de estos poseen la capacidad de pensar.</p>

    <h1>Características</h1>
    <p>He aquí las características principales o generales de los animales: </p>
    <p>-Su organización celular puede ser de tipo eucariota o pluricelular.</p>
    <p>-En el aspecto nutricional, son seres heterótrofos por ingestión, la cual se hace de una forma u otra
        dependiendo del animal.</p>
    <p>-Todos los animales son de metabolismo anaerobio, es decir que respiran oxígeno y no pueden vivir sin él.</p>

    <p>A excepciones de ciertas especies, la gran mayoría de los animales poseen músculos y un sistema nervioso capaz
        de enviar y procesar señales por todo el cuerpo.
        Además todos los animales llevan a cabo estas funciones vitales, como: alimentación, respiración, circulación,
        excreción, respuesta, movimiento y reproducción.</p>
    <a href="https://www.paradais-sphynx.com/animales/zoologia/caracteristicas-animales.htm">Más información sobre las
        características de los animales</a>

    <h1>Tipos de animales según su estructura vertebral</h1>

    <p>Los animales pueden contar o no con columna vertebral. A aquellos animales que tienen columna vertebral, se les
        clasifica como Vertebrados, mientras que los que no tienen columna vertebral, son Invertebrados.</p>

    <h1>Animales Vertebrados</h1>
    <p>Los animales vertebrados son aquellos que tienen una columna vertebral y que cuentan con una estructura ósea
        compleja. Sus partes son compuestas y definidas por extremidades, tronco y cabeza. Un gran porcentaje de ellos
        cuenta incluso también con cola.

        Los animales vertebrados tienen su cuerpo y su piel cubierta, ya sea por pelo, en el caso de la mayoría de los
        animales terrestres, plumas en caso de las aves, o bien escamas en el caso de los peces y algunas especies de
        reptiles. Los anfibios en su mayoría presentan la piel desnuda.

        Se estima que en la actualidad existen más de 62.000 especies de animales vertebrados. Los animales vertebrados
        pueden ser clasificados y divididos en cinco grupos principales: mamíferos, peces, aves, reptiles y anfibios.
    </p>

</body>

</html>