<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animales Vertebrados</title>
</head>

<body>
    <h1>Animales Vertebrados. Clasificación.</h1>

    <h1>Mamíferos</h1>
    <p>Los mamíferos conforman una gran parte de los animales terrestres. Lo que los diferencia de los demás vertebrados
        es que generalmente están cubiertos y protegidos por pelo.
        En la mayoría de las especies, las hembras cuentan con mamas que les permite generar leche para amamantar o
        alimentar a sus crías, desde que éstas son recién nacidas hasta que ya tienen una edad en donde pueden buscar y
        digerir sus alimentos por sus propios medios.</p>
    <a href="https://www.nationalgeographic.com.es/animales/mamiferos">Más información sobre los mamíferos</a>

    <h1>Peces</h1>
    <p>Los peces se diferencian de los animales vertebrados ya que disponen de mecanismos de respiración debajo del agua
        a través de las branquias, por las cuáles absorben el oxigeno disuelto en el agua.
        Poseen escamas recubriendo su cuerpo y disponen de aletas en lugar de extremidades, las cuáles les permiten
        moverse en el medio acuático. Al contrario de los mamíferos, los peces regulan su temperatura interna y la de la
        sangre, en función de la temperatura presente en su ambiente, lo que se llama ectotermia.</p>
    <a href="https://www.nationalgeographic.com.es/animales/peces">Más información sobre los peces</a>

    <h1>Aves</h1>
    <p>Las aves son seres vivos de sangre caliente, que poseen estructura ósea interna con extremidades superiores e
        inferiores, además de columna vertebral.
        Pueden saltar y caminar, aunque sus extremidades inferiores no están especialmente desarrolladas para dicha
        tarea, y son más destacados por su capacidad de volar gracias a sus alas, aunque no todas las aves pueden
        utilizar sus alas para volar y algunas sólo pueden lograr grandes saltos con ellas (por ejemplo las gallinas).
    </p>
    <a href="https://www.nationalgeographic.com.es/animales/aves">Más información sobre las aves</a>

    <h1>Reptiles</h1>
    <p>Los reptiles son animales vertebrados cuyo cuerpo está principalmente recubierto de escamas en forma de
        protección. Poseen extremidades potentes y un sistema de reproducción mediante huevos con cascarón.
        Se han adaptado a la vida terrestre y han desarrollado mecanismos de defensa, buenos pulmones y camuflaje,
        además de un sistema sanguíneo circulatorio doble, en el que hace que un circuito sanguíneo circule sangre hacia
        los pulmones específicamente y otro circuito hacia el resto del cuerpo.</p>
    <a href="https://www.nationalgeographic.com.es/animales/reptil">Más información sobre los Reptiles</a>

    <h1>Anfibios</h1>
    <p>Una de las características de los anfibios que resulta especialmente única y llamativa, es que mientras están en
        su fase larvaria, cuentan con un tipo de respiración similar a la de los peces y pueden respirar debajo del
        agua, mientras que cuando llegan a su vida adulta, desarrollan respiración pulmonar terrestre.
        Algunos anfibios han desarrollado mecanismos de defensa complejos para combatir a sus depredadores. Por ejemplo,
        muchos de ellos presentan glándulas venenosas en la piel, lo que puede ser detectado debido al color de la
        misma, que cuánto más fuerte o llamativo es, más desarrolladas están dichas glándulas y más potente su veneno.
    </p>
    <a href="https://www.nationalgeographic.com.es/animales/anfibios">Más información sobre los anfibios</a>
</body>

</html>